Flow Node-Red Final TA.json
[{"id":"58f8302c.c3df2","type":"tab","label":"Flow FINAL","disabled":false,"info":""},{"id":"da64975a.59d178","type":"mqtt in","z":"58f8302c.c3df2","name":"","topic":"Shiddiq42/env/dalam2/#","qos":"2","datatype":"auto","broker":"4bb2c962.ff0b58","x":140,"y":60,"wires":[["78e787f5.7ddc68"]]},{"id":"78e787f5.7ddc68","type":"json","z":"58f8302c.c3df2","name":"","property":"payload","action":"","pretty":false,"x":310,"y":60,"wires":[["c441924a.dc52c","c2543a1d.17add8"]]},{"id":"757bf7b0.7bf0b8","type":"mqtt in","z":"58f8302c.c3df2","name":"","topic":"Shiddiq42/env/luar/#","qos":"2","datatype":"auto","broker":"4bb2c962.ff0b58","x":130,"y":120,"wires":[["ed5ffdc1.99b69"]]},{"id":"ed5ffdc1.99b69","type":"json","z":"58f8302c.c3df2","name":"","property":"payload","action":"","pretty":false,"x":310,"y":100,"wires":[["c4e5529.c7d87b","c2543a1d.17add8"]]},{"id":"c4e5529.c7d87b","type":"function","z":"58f8302c.c3df2","name":"luar","func":"a = msg.payload.T;\nvar value = {T_Luar: msg.payload.T, H_Luar: msg.payload.H};\nmsg.payload = value;\nflow.set(\"T_Luar\",a);\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":100,"wires":[["b1efc7a.6c39238","a65beaa0.2bf538"]]},{"id":"c441924a.dc52c","type":"function","z":"58f8302c.c3df2","name":"dalam","func":"var value = {T_Dalam: msg.payload.T, H_Dalam: msg.payload.H};\nmsg.payload = value;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":60,"wires":[["aa69e7f1.08b758","196ad331.eb971d","d010d727.57de78"]]},{"id":"73bddd77.f13e64","type":"mqtt in","z":"58f8302c.c3df2","name":"","topic":"Shiddiq42/pzem","qos":"2","datatype":"auto","broker":"4bb2c962.ff0b58","x":120,"y":180,"wires":[["eeda2cb2.5d96a"]]},{"id":"eeda2cb2.5d96a","type":"json","z":"58f8302c.c3df2","name":"","property":"payload","action":"","pretty":false,"x":310,"y":180,"wires":[["9dccac65.ee696","32f37716.ba7348","c2543a1d.17add8"]]},{"id":"9dccac65.ee696","type":"function","z":"58f8302c.c3df2","name":"sta","func":"var pow = msg.payload.P\nvar sta;\nif(pow >300){\n    sta={\"sta\":1};\n    flow.set(\"sta\",1);\n} else if((pow < 300) && (pow>5) ) {\n    sta={\"sta\":2};\n    flow.set(\"sta\",2);\n} else if(pow < 5) { \n    sta={\"sta\":0};\n    flow.set(\"sta\",0);\n}\nmsg.payload = sta;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":260,"wires":[["b31b6425.2542b8","196ad331.eb971d","da08c2f1.8bd61"]]},{"id":"aa69e7f1.08b758","type":"influxdb out","z":"58f8302c.c3df2","influxdb":"e723ebe1.068578","name":"","measurement":"Dalam","precision":"","retentionPolicy":"","x":640,"y":60,"wires":[]},{"id":"b1efc7a.6c39238","type":"influxdb out","z":"58f8302c.c3df2","influxdb":"e723ebe1.068578","name":"","measurement":"Luar","precision":"","retentionPolicy":"","x":630,"y":100,"wires":[]},{"id":"b31b6425.2542b8","type":"influxdb out","z":"58f8302c.c3df2","influxdb":"e723ebe1.068578","name":"","measurement":"status","precision":"","retentionPolicy":"","x":640,"y":260,"wires":[]},{"id":"32f37716.ba7348","type":"influxdb out","z":"58f8302c.c3df2","influxdb":"e723ebe1.068578","name":"","measurement":"pzem","precision":"","retentionPolicy":"","x":510,"y":220,"wires":[]},{"id":"196ad331.eb971d","type":"join","z":"58f8302c.c3df2","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":450,"y":140,"wires":[["c19595f7.c4f718","cd8106c5.04ee98"]]},{"id":"ed99a38c.128b2","type":"pythonshell in","z":"58f8302c.c3df2","name":"Calculate PMV","pyfile":"E:\\TAUrang\\calc_pmv_ppd.py","virtualenv":"","continuous":false,"stdInData":false,"x":740,"y":180,"wires":[["261d3ee.23504c2"]]},{"id":"261d3ee.23504c2","type":"json","z":"58f8302c.c3df2","name":"","property":"payload","action":"","pretty":false,"x":910,"y":180,"wires":[["10641200.27c8ae","3e00b7ad.bbe3f8"]]},{"id":"10641200.27c8ae","type":"influxdb out","z":"58f8302c.c3df2","influxdb":"e723ebe1.068578","name":"","measurement":"pmv","precision":"","retentionPolicy":"","x":1110,"y":160,"wires":[]},{"id":"a3860363.640ae","type":"function","z":"58f8302c.c3df2","name":"","func":"var a = msg.payload.PMV;\nvar b = 0;\nvar tset  = 0;\nif (a >= tset){\n    b = 1;\n} else {\n    b = -1;\n}\nmsg.payload = b;\nreturn msg;","outputs":1,"noerr":0,"x":2050,"y":440,"wires":[["92ec4442.8931b8"]]},{"id":"92ec4442.8931b8","type":"function","z":"58f8302c.c3df2","name":"","func":"var b = msg.payload;\nvar J = flow.get(\"Jarak\")||100;\nvar P = flow.get(\"Param\")||(J/2);\nP = P+b;\nvar c;\nif (P >= J){\n    P = J;\n    c = 1;\n} else if (P <= 0){\n    P = 0;\n    c = 2;\n} \nflow.set(\"Param\",P)\nmsg.payload = c;\nreturn msg;","outputs":1,"noerr":0,"x":2210,"y":440,"wires":[["4e47c6c.1763338"]]},{"id":"4e47c6c.1763338","type":"rbe","z":"58f8302c.c3df2","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":2350,"y":440,"wires":[["26ace32e.8296ec"]]},{"id":"28999b7d.fb3704","type":"comment","z":"58f8302c.c3df2","name":"PROSES PENGAMBILAN DATA AWAL","info":"**PROSES PENGAMBILAN DATA AWAL**","x":190,"y":20,"wires":[]},{"id":"93ab4180.19b57","type":"influxdb out","z":"58f8302c.c3df2","influxdb":"e723ebe1.068578","name":"","measurement":"kondisi_luar","precision":"","retentionPolicy":"","x":720,"y":300,"wires":[]},{"id":"919bd855.c123f8","type":"json","z":"58f8302c.c3df2","name":"","property":"payload","action":"","pretty":false,"x":490,"y":300,"wires":[["93ab4180.19b57","6f9ded2b.78f464"]]},{"id":"8d37c91e.816a48","type":"pythonshell in","z":"58f8302c.c3df2","name":"Get Weather","pyfile":"E:\\TAUrang\\getweather.py","virtualenv":"","continuous":false,"stdInData":false,"x":310,"y":300,"wires":[["919bd855.c123f8"]]},{"id":"a0daa779.4c95d8","type":"inject","z":"58f8302c.c3df2","d":true,"name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":300,"wires":[["8d37c91e.816a48"]]},{"id":"ac67ab03.693fc8","type":"comment","z":"58f8302c.c3df2","name":"alternatif kondisi luar dari internet","info":"","x":170,"y":340,"wires":[]},{"id":"89fed70a.fdbb28","type":"comment","z":"58f8302c.c3df2","name":"data diambil dari sensor","info":"","x":140,"y":220,"wires":[]},{"id":"9208836f.91d29","type":"comment","z":"58f8302c.c3df2","name":"data disimpan ke database","info":"dalam penyimpanan data ke database tidak disatukan (dengan node join) melainkan langsung data sensor ke pengukuran senor tersebut hal ini dilakukan jika ada sensor yang mengalami gangguan tidak mengganggu data dari sensor lainnya","x":630,"y":20,"wires":[]},{"id":"f71fd7d9.dbfce8","type":"comment","z":"58f8302c.c3df2","name":"proses perhitungan PMV","info":"","x":630,"y":140,"wires":[]},{"id":"fd9e7f31.1493e","type":"comment","z":"58f8302c.c3df2","name":"data pmv disimpan kedatabase","info":"","x":1070,"y":120,"wires":[]},{"id":"750010ff.8e7ac","type":"debug","z":"58f8302c.c3df2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2410,"y":520,"wires":[]},{"id":"ed2eaacb.73d3f8","type":"function","z":"58f8302c.c3df2","name":"Jarak pmv","func":"flow.set('Jarak',msg.payload);\nmsg.payload = \"Jarak  = \"+msg.payload; \nreturn msg;","outputs":1,"noerr":0,"x":2230,"y":520,"wires":[["750010ff.8e7ac"]]},{"id":"2d41196b.b29dc6","type":"inject","z":"58f8302c.c3df2","name":"","topic":"","payload":"100","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2070,"y":520,"wires":[["ed2eaacb.73d3f8"]]},{"id":"2a7f79d4.f6d516","type":"inject","z":"58f8302c.c3df2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2060,"y":560,"wires":[["f81983fe.57a82"]]},{"id":"f81983fe.57a82","type":"function","z":"58f8302c.c3df2","name":"GET P pmv","func":"msg.payload = flow.get(\"Param\")\nreturn msg;","outputs":1,"noerr":0,"x":2230,"y":560,"wires":[["750010ff.8e7ac"]]},{"id":"d422a00c.b443b","type":"function","z":"58f8302c.c3df2","name":"GET Jarak pmv","func":"msg.payload = flow.get(\"Jarak\")\nreturn msg;","outputs":1,"noerr":0,"x":2240,"y":600,"wires":[["750010ff.8e7ac"]]},{"id":"743e04b0.9624cc","type":"inject","z":"58f8302c.c3df2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2060,"y":600,"wires":[["d422a00c.b443b"]]},{"id":"62e69d86.91ebb4","type":"comment","z":"58f8302c.c3df2","name":"KONTROL HISTERESIS","info":"","x":2110,"y":400,"wires":[]},{"id":"efe849f2.71cf18","type":"comment","z":"58f8302c.c3df2","name":"pengaturan parameter kontrol histeresis","info":"","x":2150,"y":480,"wires":[]},{"id":"5fcf9ba6.224334","type":"comment","z":"58f8302c.c3df2","name":"PROSES PENGAMBILAN DATA UNTUK LEARNING ANN","info":"Proses pengabildan data TERBAGI 3 FASE\nFASE1 || Pengambilan RC ON\nFASE2 || Proses kontrol AC\nFASE3 || AC mati untuk persiapan kontrol ulang","x":270,"y":700,"wires":[]},{"id":"37ddbf10.bc8cf","type":"comment","z":"58f8302c.c3df2","name":"FASE 1 || Proses Pengambilan RC ON","info":"Proses pengambilan RC","x":190,"y":860,"wires":[]},{"id":"7c370e0.9afd6f4","type":"inject","z":"58f8302c.c3df2","name":"START","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":780,"wires":[["b47e981b.4f2d38"]]},{"id":"9db45b5b.b764a8","type":"function","z":"58f8302c.c3df2","name":"mengirim perintah on","func":"var a  = {\"start\" : 1};\nmsg.payload = a;\nflow.set(\"start\",1);\nvar msg2 = {};\nmsg2.payload = 1;\nreturn [msg,msg2];","outputs":2,"noerr":0,"x":520,"y":800,"wires":[["1cbf270e.73c3f9","deb99944.5232d8"],["ccd4ccd8.9bcd8"]]},{"id":"1cbf270e.73c3f9","type":"influxdb out","z":"58f8302c.c3df2","influxdb":"e723ebe1.068578","name":"","measurement":"start","precision":"","retentionPolicy":"","x":770,"y":780,"wires":[]},{"id":"9d7fe039.4c39f","type":"function","z":"58f8302c.c3df2","name":"Set TRCon a","func":"var a = flow.get(\"start\")||0;\nvar sta = msg.payload.sta;\nif (a === 1){\n    if (sta === 1){\n    var b = {\"tRCon\" : 1};\n    msg.payload = b;\n    msg.delay = 1000*60*20;\n    node.send(msg);\n    }\n}\nreturn 0;","outputs":1,"noerr":0,"x":150,"y":900,"wires":[["8b499a15.86f228","3ab74659.c7b74a","632fe92f.a7b698"]]},{"id":"8b499a15.86f228","type":"influxdb out","z":"58f8302c.c3df2","influxdb":"e723ebe1.068578","name":"","measurement":"tRCon","precision":"","retentionPolicy":"","x":500,"y":900,"wires":[]},{"id":"3ab74659.c7b74a","type":"delay","z":"58f8302c.c3df2","name":"","pauseType":"delayv","timeout":"20","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":100,"y":940,"wires":[["5038a91d.a011f8"]]},{"id":"605829a3.ed0208","type":"function","z":"58f8302c.c3df2","name":"Set TRCon b","func":"var a  = {\"start\":2};\nvar b = {\"tRCon\":0};\nmsg.payload = a;\nflow.set(\"start\",2);\nvar msg2 = {};\nmsg2.payload = b;\nreturn [msg,msg2];","outputs":2,"noerr":0,"x":270,"y":980,"wires":[["1cf9f88d.107a37","353f75f9.bdfaea"],["981a1418.1151e8","4723c40f.79dbcc"]]},{"id":"1cf9f88d.107a37","type":"influxdb out","z":"58f8302c.c3df2","influxdb":"e723ebe1.068578","name":"","measurement":"start","precision":"","retentionPolicy":"","x":490,"y":940,"wires":[]},{"id":"deb99944.5232d8","type":"debug","z":"58f8302c.c3df2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":820,"wires":[]},{"id":"dd0ec83e.c082f8","type":"debug","z":"58f8302c.c3df2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1670,"y":180,"wires":[]},{"id":"6d76d2de.158dbc","type":"link in","z":"58f8302c.c3df2","name":"","links":["26ace32e.8296ec","ccd4ccd8.9bcd8","3137be33.e8d742","395846ae.a56bda","f69bb72.7752448","198090e0.0ed63f","1e98b73b.f375b9","7e3628c8.095f78","f7e262c5.90d5d","7d56e520.a2ed0c","bb105919.d03458"],"x":695,"y":360,"wires":[["daa913fa.2a304"]]},{"id":"26ace32e.8296ec","type":"link out","z":"58f8302c.c3df2","d":true,"name":"","links":["6d76d2de.158dbc"],"x":2455,"y":440,"wires":[]},{"id":"332ceef2.bac8d2","type":"mqtt out","z":"58f8302c.c3df2","name":"","topic":"Shiddiq42/pwrac","qos":"","retain":"","broker":"4bb2c962.ff0b58","x":1050,"y":440,"wires":[]},{"id":"e50e85e1.37f758","type":"function","z":"58f8302c.c3df2","name":"Cek sta","func":"var a = msg.payload;\nvar b = flow.get(\"sta\");\nif (b !== a){\n    msg.payload = a;\n    node.send(msg);\n}\nreturn 0;","outputs":1,"noerr":0,"x":980,"y":400,"wires":[["887826bd.2bd4d8","41bc445a.53e6ec"]]},{"id":"887826bd.2bd4d8","type":"delay","z":"58f8302c.c3df2","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":840,"y":400,"wires":[["e50e85e1.37f758"]]},{"id":"41bc445a.53e6ec","type":"mqtt out","z":"58f8302c.c3df2","name":"","topic":"Shiddiq42/pwrac","qos":"","retain":"","broker":"4bb2c962.ff0b58","x":1160,"y":400,"wires":[]},{"id":"e2f2bc56.8a81c","type":"comment","z":"58f8302c.c3df2","name":"mengirim perintah ke AC","info":"","x":830,"y":360,"wires":[]},{"id":"421271c3.779e3","type":"comment","z":"58f8302c.c3df2","name":"Memastikan perintah","info":"node ini digunakan untuk mengecek dan memberi perintah kembali jika pengiriman perintah sebelumnya gagal","x":1050,"y":360,"wires":[]},{"id":"ccd4ccd8.9bcd8","type":"link out","z":"58f8302c.c3df2","name":"","links":["6d76d2de.158dbc"],"x":675,"y":820,"wires":[]},{"id":"8a43f809.7fc088","type":"link in","z":"58f8302c.c3df2","name":"","links":["a2f955c9.398b88"],"x":35,"y":900,"wires":[["9d7fe039.4c39f"]]},{"id":"3137be33.e8d742","type":"link out","z":"58f8302c.c3df2","name":"","links":["6d76d2de.158dbc"],"x":1615,"y":120,"wires":[]},{"id":"981a1418.1151e8","type":"influxdb out","z":"58f8302c.c3df2","influxdb":"e723ebe1.068578","name":"","measurement":"tRCon","precision":"","retentionPolicy":"","x":500,"y":980,"wires":[]},{"id":"eb092884.5ea2f8","type":"function","z":"58f8302c.c3df2","name":"high","func":"var a = flow.get(\"start\")||0;\n\nif (a === 2){\n    msg.payload = 1;\n    var dc = flow.get(\"DC\")/100||0.5;\n    msg.delay = 10*1000*60*dc; \n    node.send(msg);\n}\nreturn 0;","outputs":1,"noerr":0,"x":1470,"y":200,"wires":[["bb1d3e49.9604c","3137be33.e8d742","dd0ec83e.c082f8"]]},{"id":"74bcc80f.eadd88","type":"function","z":"58f8302c.c3df2","name":"low","func":"var a = flow.get(\"start\")||0;\n\nif (a === 2){\n    msg.payload = 2;\n    var dc = flow.get(\"DC\")/100||0.5;\n    msg.delay = 10*1000*60*(1-dc); \n    node.send(msg);\n}\nreturn 0;","outputs":1,"noerr":0,"x":1470,"y":140,"wires":[["c249b316.a1c2c","dd0ec83e.c082f8","3137be33.e8d742"]]},{"id":"bb1d3e49.9604c","type":"delay","z":"58f8302c.c3df2","name":"","pauseType":"delayv","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1320,"y":140,"wires":[["74bcc80f.eadd88"]]},{"id":"e231445b.3f7a78","type":"inject","z":"58f8302c.c3df2","name":"","topic":"","payload":"50","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":580,"wires":[["701d286d.62b888"]]},{"id":"ab4ad5e5.21bbd8","type":"function","z":"58f8302c.c3df2","name":"set DC","func":"var a = flow.set('DC',msg.payload);\nmsg.payload = \"DC  = \"+msg.payload; \nreturn msg;","outputs":1,"noerr":0,"x":410,"y":620,"wires":[["91bf5af5.af6808","4036fa96.fd9b94"]]},{"id":"c249b316.a1c2c","type":"delay","z":"58f8302c.c3df2","name":"","pauseType":"delayv","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1320,"y":200,"wires":[["eb092884.5ea2f8"]]},{"id":"6ca3383.28562c8","type":"comment","z":"58f8302c.c3df2","name":"FASE 2 || Proses kontrol AC ","info":"Proses Kontrol AC \nAC dilakukan kontrol dengan DC yang telah ditentukan\n\nDisini dilakukan switch untuk menjaga AC, dikarenakan pada AC ini terdapat waktu rebound dari kondisi HIGH, atau ketika AC High kemudian LOW untuk AC bisa HIGH lagi ada waktu tunggu sebesar 3 menit oleh karena itu perlunya di cek DC terlebih dahulu","x":1240,"y":20,"wires":[]},{"id":"dec89aee.5b11b8","type":"delay","z":"58f8302c.c3df2","name":"","pauseType":"delayv","timeout":"59","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1340,"y":300,"wires":[["5b75bf52.631a4"]]},{"id":"e88fdae.05e8e28","type":"comment","z":"58f8302c.c3df2","name":"FASE 3 || Proses Pengambilan RC OFF","info":"Pengambilan RC","x":1290,"y":260,"wires":[]},{"id":"47c81d2f.c85c74","type":"link in","z":"58f8302c.c3df2","name":"","links":["1efcdec9.1a4561","d852fa14.c42eb8","e41c1668.024ff8","af560ded.2c829","e7c83159.761cd"],"x":1075,"y":300,"wires":[["7f4a405c.7319"]]},{"id":"acd7a1cb.81f45","type":"comment","z":"58f8302c.c3df2","name":"Kontrol DC","info":"pengaturan dc","x":100,"y":540,"wires":[]},{"id":"91bf5af5.af6808","type":"debug","z":"58f8302c.c3df2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":620,"wires":[]},{"id":"add21321.c81b","type":"function","z":"58f8302c.c3df2","name":"perintah low","func":"var a  = {\"start\" : 3};\nmsg.payload = a;\nflow.set(\"start\",3);\nvar msg2 = {};\nmsg2.payload = 2;\nreturn [msg,msg2];","outputs":2,"noerr":0,"x":1490,"y":340,"wires":[["4aae42ee.3b7bfc","25195185.a5ce6e"],["395846ae.a56bda"]]},{"id":"4aae42ee.3b7bfc","type":"influxdb out","z":"58f8302c.c3df2","influxdb":"e723ebe1.068578","name":"","measurement":"start","precision":"","retentionPolicy":"","x":1710,"y":300,"wires":[]},{"id":"25195185.a5ce6e","type":"debug","z":"58f8302c.c3df2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1730,"y":340,"wires":[]},{"id":"395846ae.a56bda","type":"link out","z":"58f8302c.c3df2","name":"","links":["6d76d2de.158dbc"],"x":1615,"y":340,"wires":[]},{"id":"f5cf41d3.26e26","type":"function","z":"58f8302c.c3df2","name":"Set TRCoff a","func":"var a = flow.get(\"start\")||0;\nvar sta = msg.payload.sta;\nif (a === 3){\n    if (sta === 2){\n    var b = {\"tRCoff\" : 1};\n    msg.payload = b;\n    msg.delay = 1000*60*10;\n    node.send(msg);\n    flow.set(\"Interrupt\",0);\n    }\n}\nreturn 0;","outputs":1,"noerr":0,"x":1410,"y":400,"wires":[["34c831f1.89d9be","3dbf75fa.330b2a"]]},{"id":"34c831f1.89d9be","type":"influxdb out","z":"58f8302c.c3df2","influxdb":"e723ebe1.068578","name":"","measurement":"tRCoff","precision":"","retentionPolicy":"","x":1700,"y":380,"wires":[]},{"id":"7e3634ef.04b26c","type":"function","z":"58f8302c.c3df2","name":"Set TRCoff b","func":"var a  = {\"start\":0};\nvar b = {\"tRCoff\":0};\nmsg.payload = a;\nflow.set(\"start\",0);\nvar msg2 = {};\nvar msg3 = {};\nmsg2.payload = b;\nmsg3.payload = 0;\nreturn [msg,msg2,msg3];","outputs":3,"noerr":0,"x":1490,"y":460,"wires":[["710a4465.953f0c","c62f371e.0a5f88"],["3942dd8f.5a54b2"],["f69bb72.7752448","c62f371e.0a5f88","f3f9205a.30501"]]},{"id":"710a4465.953f0c","type":"influxdb out","z":"58f8302c.c3df2","influxdb":"e723ebe1.068578","name":"","measurement":"start","precision":"","retentionPolicy":"","x":1710,"y":420,"wires":[]},{"id":"8f012d00.ebb2e","type":"link in","z":"58f8302c.c3df2","name":"","links":["a2f955c9.398b88"],"x":1295,"y":400,"wires":[["f5cf41d3.26e26"]]},{"id":"3942dd8f.5a54b2","type":"influxdb out","z":"58f8302c.c3df2","influxdb":"e723ebe1.068578","name":"","measurement":"tRCoff","precision":"","retentionPolicy":"","x":1720,"y":460,"wires":[]},{"id":"71858990.1abec8","type":"function","z":"58f8302c.c3df2","name":"Get t RCon","func":"msg.query = 'SELECT * FROM tRCon order by desc limit 2';\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":700,"wires":[["ac1a1960.ff07d8"]]},{"id":"c62f371e.0a5f88","type":"debug","z":"58f8302c.c3df2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1730,"y":500,"wires":[]},{"id":"f69bb72.7752448","type":"link out","z":"58f8302c.c3df2","name":"","links":["55fd2dda.5eb814","6d76d2de.158dbc"],"x":1615,"y":500,"wires":[]},{"id":"353f75f9.bdfaea","type":"debug","z":"58f8302c.c3df2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":310,"y":1020,"wires":[]},{"id":"c19595f7.c4f718","type":"debug","z":"58f8302c.c3df2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":220,"wires":[]},{"id":"632fe92f.a7b698","type":"debug","z":"58f8302c.c3df2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":860,"wires":[]},{"id":"da08c2f1.8bd61","type":"rbe","z":"58f8302c.c3df2","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":830,"y":260,"wires":[["3c4aec4e.6431a4","a2f955c9.398b88"]]},{"id":"55fd2dda.5eb814","type":"link in","z":"58f8302c.c3df2","name":"","links":["f69bb72.7752448","d277a2fa.a5d91"],"x":875,"y":620,"wires":[["39f0c96c.d0d286"]]},{"id":"39f0c96c.d0d286","type":"function","z":"58f8302c.c3df2","name":"Get Start","func":"msg.query = 'SELECT * FROM start order by desc limit 4';\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":620,"wires":[["99bd584b.e46448"]]},{"id":"99bd584b.e46448","type":"influxdb in","z":"58f8302c.c3df2","influxdb":"e723ebe1.068578","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":1200,"y":620,"wires":[["c9ffcf9b.4197a","134c56f5.7f7c89"]]},{"id":"ac1a1960.ff07d8","type":"influxdb in","z":"58f8302c.c3df2","influxdb":"e723ebe1.068578","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":1220,"y":700,"wires":[["5ecb6583.eff33c","54943443.086efc"]]},{"id":"5ecb6583.eff33c","type":"function","z":"58f8302c.c3df2","name":"Get Tmax","func":"var a = msg.payload;\nvar T0 = JSON.stringify(a[1].time);\nvar T1 = JSON.stringify(a[0].time);\nT0 = T0.replace(/\"/g,\"\");\nT1 = T1.replace(/\"/g,\"\");\nmsg.query = \"SELECT MAX(\\\"T_Dalam\\\") FROM Dalam WHERE  time >= '\"+T0+\"' AND time <= '\"+T1+\"'\";\nmsg.payload=msg.query;\nreturn msg;","outputs":1,"noerr":0,"x":1420,"y":700,"wires":[["8544f9f5.bcecb8"]]},{"id":"54943443.086efc","type":"function","z":"58f8302c.c3df2","name":"t0 & t1","func":"var a = msg.payload;\nvar T0 = a[1].time;\nvar T1 = a[0].time;\nvar time = {\"T1\":T1,\"T0\":T0};\nmsg.payload = time;\nreturn msg;","outputs":1,"noerr":0,"x":1410,"y":740,"wires":[["a150eb2b.6275f8"]]},{"id":"8544f9f5.bcecb8","type":"influxdb in","z":"58f8302c.c3df2","influxdb":"e723ebe1.068578","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":1600,"y":700,"wires":[["91337c82.36807"]]},{"id":"91337c82.36807","type":"function","z":"58f8302c.c3df2","name":"Tmax","func":"var a = msg.payload;\nTemp = a[0].max||a[0].min;\nvar Temp = {\"Temp\":Temp};\nmsg.payload = Temp;\nreturn msg;","outputs":1,"noerr":0,"x":1770,"y":700,"wires":[["a7c4fea1.b73cb"]]},{"id":"a7c4fea1.b73cb","type":"join","z":"58f8302c.c3df2","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1890,"y":700,"wires":[["e7c98e3c.6de8c"]]},{"id":"9315ecb6.0c7a4","type":"link in","z":"58f8302c.c3df2","name":"","links":["a150eb2b.6275f8"],"x":1815,"y":740,"wires":[["a7c4fea1.b73cb"]]},{"id":"a150eb2b.6275f8","type":"link out","z":"58f8302c.c3df2","name":"","links":["9315ecb6.0c7a4","b28adca4.9f0c9"],"x":1495,"y":740,"wires":[]},{"id":"f5bacd90.09eb6","type":"function","z":"58f8302c.c3df2","name":"Get last","func":"var a = msg.payload;\nvar T0 = JSON.stringify(a.T0);\nvar T1 = JSON.stringify(a.T1);\nvar Temp = JSON.stringify(a.Temp);\nT0 = T0.replace(/\"/g,\"\");\nT1 = T1.replace(/\"/g,\"\");\nTemp = Temp.replace(/\"/g,\"\");\n\nmsg.query = \"select \\\"T_Dalam\\\" from Dalam where \\\"T_Dalam\\\" = \"+Temp+\" and time >= '\"+T0+\"' AND time <= '\"+T1+\"' order by time desc limit 1\";\n\nreturn msg;","outputs":1,"noerr":0,"x":1200,"y":780,"wires":[["5cd65e11.1bcf9"]]},{"id":"5cd65e11.1bcf9","type":"influxdb in","z":"58f8302c.c3df2","influxdb":"e723ebe1.068578","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":1400,"y":780,"wires":[["fe88c2af.c9826"]]},{"id":"fe88c2af.c9826","type":"function","z":"58f8302c.c3df2","name":"Get t2","func":"var a = msg.payload;\nvar T2 = a[0].time;\nvar time = {\"T2\":T2};\nmsg.payload = time;\nreturn msg;","outputs":1,"noerr":0,"x":1590,"y":780,"wires":[["7f50b454.a847cc"]]},{"id":"76be94b.62ddd6c","type":"link in","z":"58f8302c.c3df2","name":"","links":["e7c98e3c.6de8c"],"x":1095,"y":780,"wires":[["f5bacd90.09eb6"]]},{"id":"e7c98e3c.6de8c","type":"link out","z":"58f8302c.c3df2","name":"","links":["76be94b.62ddd6c"],"x":1975,"y":700,"wires":[]},{"id":"b28adca4.9f0c9","type":"link in","z":"58f8302c.c3df2","name":"","links":["a150eb2b.6275f8"],"x":1615,"y":740,"wires":[["7f50b454.a847cc"]]},{"id":"7f50b454.a847cc","type":"join","z":"58f8302c.c3df2","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1730,"y":780,"wires":[["20bbdfdb.a2e7d"]]},{"id":"20bbdfdb.a2e7d","type":"link out","z":"58f8302c.c3df2","name":"","links":["15e45cc1.0065e3"],"x":1815,"y":780,"wires":[]},{"id":"3a407ecc.1c34f2","type":"pythonshell in","z":"58f8302c.c3df2","name":"Hitung RC","pyfile":"E:\\TAUrang\\PlotON.py","virtualenv":"","continuous":false,"stdInData":false,"x":1590,"y":840,"wires":[["757dacc5.1e1634"]]},{"id":"2d74106f.f204","type":"debug","z":"58f8302c.c3df2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2030,"y":880,"wires":[]},{"id":"757dacc5.1e1634","type":"json","z":"58f8302c.c3df2","name":"","property":"payload","action":"","pretty":false,"x":1750,"y":840,"wires":[["7cdceabf.899084"]]},{"id":"700abc50.964f04","type":"function","z":"58f8302c.c3df2","name":"ArgPY","func":"var Val = [];\nvar Obj = msg.payload;\nvar len = Obj.length;\nfor(var i=0;i<len;i++)\n{\n    Val.push(Obj[i].moving_average);\n}\nmsg.payload = Val;\nreturn msg;","outputs":1,"noerr":0,"x":1430,"y":840,"wires":[["3a407ecc.1c34f2","e583a48c.33f998"]]},{"id":"33e3ac6d.f59904","type":"influxdb in","z":"58f8302c.c3df2","influxdb":"e723ebe1.068578","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":1260,"y":840,"wires":[["700abc50.964f04"]]},{"id":"906ce7a7.7b3fd8","type":"function","z":"58f8302c.c3df2","name":"movavg","func":"var a = msg.payload;\nvar T1 = JSON.stringify(a.T1);\nvar T2 = JSON.stringify(a.T2);\nT1 = T1.replace(/\"/g,\"\");\nT2 = T2.replace(/\"/g,\"\");\n    msg.query = \"SELECT MOVING_AVERAGE(\\\"T_Dalam\\\",5) FROM Dalam WHERE time >= '\"+T2+\"' AND time <= '\"+T1+\"'\";    \n    msg.payload = msg.query;\n    node.send(msg);\nreturn 0;","outputs":1,"noerr":0,"x":1080,"y":840,"wires":[["33e3ac6d.f59904"]]},{"id":"e583a48c.33f998","type":"debug","z":"58f8302c.c3df2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1590,"y":880,"wires":[]},{"id":"15e45cc1.0065e3","type":"link in","z":"58f8302c.c3df2","name":"","links":["20bbdfdb.a2e7d"],"x":975,"y":820,"wires":[["906ce7a7.7b3fd8"]]},{"id":"a480cf9d.95d7c","type":"link in","z":"58f8302c.c3df2","name":"","links":["d277a2fa.a5d91","f1b4e0ec.c4c8c","e41c1668.024ff8"],"x":875,"y":700,"wires":[["71858990.1abec8"]]},{"id":"c9ffcf9b.4197a","type":"function","z":"58f8302c.c3df2","name":"Get Mean TL","func":"var a = msg.payload;\nvar T0 = JSON.stringify(a[3].time);\nvar T1 = JSON.stringify(a[0].time);\nT0 = T0.replace(/\"/g,\"\");\nT1 = T1.replace(/\"/g,\"\");\nmsg.query = \"SELECT MEAN(\\\"T_Luar\\\") FROM Luar WHERE  time >= '\"+T0+\"' AND time <= '\"+T1+\"'\";\nmsg.payload=msg.query;\nreturn msg;","outputs":1,"noerr":0,"x":1430,"y":620,"wires":[["1c91dd8d.27c192"]]},{"id":"134c56f5.7f7c89","type":"function","z":"58f8302c.c3df2","name":"Get Mean PMV","func":"var a = msg.payload;\nvar T0 = JSON.stringify(a[2].time);\nvar T1 = JSON.stringify(a[1].time);\nT0 = T0.replace(/\"/g,\"\");\nT1 = T1.replace(/\"/g,\"\");\nmsg.query = \"SELECT MEAN(\\\"PMV\\\") FROM pmv WHERE  time >= '\"+T0+\"' AND time <= '\"+T1+\"'\";\nmsg.payload=msg.query;\nreturn msg;","outputs":1,"noerr":0,"x":1440,"y":660,"wires":[["5d10dea6.3d938"]]},{"id":"1c91dd8d.27c192","type":"influxdb in","z":"58f8302c.c3df2","influxdb":"e723ebe1.068578","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":1640,"y":620,"wires":[["13f8423d.ead48e"]]},{"id":"5d10dea6.3d938","type":"influxdb in","z":"58f8302c.c3df2","influxdb":"e723ebe1.068578","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":1640,"y":660,"wires":[["d26bc522.364948"]]},{"id":"5097fc22.dd27b4","type":"link out","z":"58f8302c.c3df2","name":"","links":["9a58c8ab.399b18","d7f2f005.c7158","2631dd0c.ee34f2","a9e68b0d.38afc8"],"x":2095,"y":840,"wires":[]},{"id":"13f8423d.ead48e","type":"function","z":"58f8302c.c3df2","name":"Mean TL","func":"a = msg.payload;\nvar mean = a[0].mean;\nmsg.payload = {\"TL\": mean};\nreturn msg;","outputs":1,"noerr":0,"x":1840,"y":620,"wires":[["1798664.bdee79a"]]},{"id":"d26bc522.364948","type":"function","z":"58f8302c.c3df2","name":"Mean PMV","func":"a = msg.payload;\nvar mean = a[0].mean;\nmsg.payload = {\"PMV\": mean};\nreturn msg;","outputs":1,"noerr":0,"x":1850,"y":660,"wires":[["1798664.bdee79a"]]},{"id":"6019db43.b45f64","type":"comment","z":"58f8302c.c3df2","name":"PERHITUNGAN PARAMETER LEARNING","info":"","x":1020,"y":540,"wires":[]},{"id":"b6cc4a09.c54e48","type":"comment","z":"58f8302c.c3df2","name":"Rata2 TL dan pmv","info":"","x":950,"y":580,"wires":[]},{"id":"20f8c1ed.397efe","type":"comment","z":"58f8302c.c3df2","name":"RCon","info":"","x":910,"y":660,"wires":[]},{"id":"3ad4e7e3.649bd8","type":"influxdb out","z":"58f8302c.c3df2","influxdb":"e723ebe1.068578","name":"","measurement":"RCon","precision":"","retentionPolicy":"","x":2260,"y":840,"wires":[]},{"id":"bbcf1405.ef3e48","type":"csv","z":"58f8302c.c3df2","name":"","sep":",","hdrin":"","hdrout":true,"multi":"one","ret":"\\r\\n","temp":"RC,PMV,TL,DC,time","skip":"0","strings":true,"x":1890,"y":980,"wires":[["8b693e15.59b16","df7925dc.d967d8"]]},{"id":"8b693e15.59b16","type":"file","z":"58f8302c.c3df2","name":"","filename":"C:\\Users\\user\\Documents\\test\\LearningFIX.csv","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":2140,"y":980,"wires":[[]]},{"id":"1798664.bdee79a","type":"join","z":"58f8302c.c3df2","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":2010,"y":640,"wires":[["15276b3f.5a0515"]]},{"id":"15276b3f.5a0515","type":"link out","z":"58f8302c.c3df2","name":"","links":["c01a75a8.c90b38"],"x":2095,"y":640,"wires":[]},{"id":"c01a75a8.c90b38","type":"link in","z":"58f8302c.c3df2","name":"","links":["15276b3f.5a0515"],"x":875,"y":900,"wires":[["e00d5a16.ff1ac8"]]},{"id":"c5001da6.0c277","type":"function","z":"58f8302c.c3df2","name":"Get param","func":"var int = flow.get(\"Interrupt\")||0;\nif (int === 0){\n    var a = flow.get(\"DC\")||50;\n    var b = flow.get(\"RC\");\n    var c = msg.payload.TL;\n    var d = msg.payload.PMV;\n    msg.payload = {\"TL\":c,\"RC\":b,\"PMV\":d,\"DC\": a};\n    node.send(msg);\n}\nreturn 0;","outputs":1,"noerr":0,"x":1190,"y":900,"wires":[["d17c564f.799c78","7507327c.e48e5c","5832cebf.aebb1"]]},{"id":"4946cab8.1f15e4","type":"comment","z":"58f8302c.c3df2","name":"Penggabungan data","info":"","x":910,"y":860,"wires":[]},{"id":"e6ec69e.e034098","type":"influxdb out","z":"58f8302c.c3df2","influxdb":"e723ebe1.068578","name":"","measurement":"DataLearningFix","precision":"","retentionPolicy":"","x":1570,"y":940,"wires":[]},{"id":"5832cebf.aebb1","type":"delay","z":"58f8302c.c3df2","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1370,"y":980,"wires":[["a0b25bee.3c3f88"]]},{"id":"a0b25bee.3c3f88","type":"function","z":"58f8302c.c3df2","name":"Get Data","func":"msg.query = 'SELECT * FROM DataLearningFix order by desc';\nreturn msg;","outputs":1,"noerr":0,"x":1540,"y":980,"wires":[["898422e2.80139"]]},{"id":"898422e2.80139","type":"influxdb in","z":"58f8302c.c3df2","influxdb":"e723ebe1.068578","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":1720,"y":980,"wires":[["bbcf1405.ef3e48","9bd03766.30e568"]]},{"id":"9bd03766.30e568","type":"debug","z":"58f8302c.c3df2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1830,"y":940,"wires":[]},{"id":"c398e9a3.d65168","type":"function","z":"58f8302c.c3df2","name":"","func":"a = msg.payload.RCt;\nmsg.payload = {\"RC\": a};\nflow.set(\"RC\",a);\nreturn msg;","outputs":1,"noerr":0,"x":2010,"y":840,"wires":[["5097fc22.dd27b4"]]},{"id":"c2543a1d.17add8","type":"debug","z":"58f8302c.c3df2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":60,"wires":[]},{"id":"7507327c.e48e5c","type":"rbe","z":"58f8302c.c3df2","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1350,"y":940,"wires":[["e6ec69e.e034098"]]},{"id":"6f9ded2b.78f464","type":"debug","z":"58f8302c.c3df2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":300,"wires":[]},{"id":"3c4aec4e.6431a4","type":"influxdb out","z":"58f8302c.c3df2","influxdb":"e723ebe1.068578","name":"","measurement":"tus","precision":"","retentionPolicy":"","x":1010,"y":260,"wires":[]},{"id":"b0e39f05.44ace","type":"delay","z":"58f8302c.c3df2","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1790,"y":540,"wires":[["9a23ea5e.4a3b48"]]},{"id":"9a23ea5e.4a3b48","type":"link out","z":"58f8302c.c3df2","name":"","links":["80ac58d9.e25fd8"],"x":1895,"y":540,"wires":[]},{"id":"80ac58d9.e25fd8","type":"link in","z":"58f8302c.c3df2","name":"","links":["9a23ea5e.4a3b48","fccbc686.c0db58"],"x":195,"y":820,"wires":[["b47e981b.4f2d38"]]},{"id":"6b073b7.50d01c4","type":"function","z":"58f8302c.c3df2","name":"DC","func":"a = flow.get(\"DC\")||0.5;\nmsg.payload = {\"DC\": a};\nreturn msg;","outputs":1,"noerr":0,"x":2210,"y":760,"wires":[["76ca33a6.69985c"]]},{"id":"a28a236f.7a928","type":"inject","z":"58f8302c.c3df2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2080,"y":760,"wires":[["6b073b7.50d01c4"]]},{"id":"76ca33a6.69985c","type":"debug","z":"58f8302c.c3df2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2350,"y":760,"wires":[]},{"id":"e00d5a16.ff1ac8","type":"delay","z":"58f8302c.c3df2","name":"","pauseType":"rate","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1000,"y":900,"wires":[["c5001da6.0c277"]]},{"id":"d59862e.2f387a","type":"inject","z":"58f8302c.c3df2","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":460,"wires":[["d0b18e15.cf33b"]]},{"id":"d7279793.1b2098","type":"debug","z":"58f8302c.c3df2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":380,"wires":[]},{"id":"d0b18e15.cf33b","type":"function","z":"58f8302c.c3df2","name":"Menentukan Jenis Kontrol","func":"flow.set('SISTEM',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":420,"wires":[["d7279793.1b2098"]]},{"id":"8cb52316.b9bdb","type":"inject","z":"58f8302c.c3df2","name":"","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":500,"wires":[["d0b18e15.cf33b"]]},{"id":"e9e5aa0c.489708","type":"comment","z":"58f8302c.c3df2","name":"Menentukan Jenis Kontrol dan Waktu Kontrol","info":"","x":210,"y":380,"wires":[]},{"id":"7ff2a757.302e38","type":"ui_button","z":"58f8302c.c3df2","name":"","group":"3e5fc966.239e66","order":1,"width":"0","height":"0","passthru":false,"label":"Start Kontrol","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":130,"y":740,"wires":[["fd12fd23.c7151"]]},{"id":"71dfa13f.c4a8e","type":"ui_slider","z":"58f8302c.c3df2","name":"Atur DC","label":"Atur DC","tooltip":"","group":"11f02c4e.05b824","order":0,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"20","max":"100","step":1,"x":120,"y":620,"wires":[["701d286d.62b888"]]},{"id":"701d286d.62b888","type":"function","z":"58f8302c.c3df2","name":"cek  start","func":"var a = flow.get(\"start\")||0;\nif (a === 0){\n    node.send(msg);\n}\nreturn 0;","outputs":1,"noerr":0,"x":280,"y":620,"wires":[["ab4ad5e5.21bbd8"]]},{"id":"c61f8938.acffa8","type":"ui_dropdown","z":"58f8302c.c3df2","name":"","label":"Pilih Keadaan Termal","tooltip":"","place":"","group":"63fbeb7d.902874","order":3,"width":"0","height":"0","passthru":true,"options":[{"label":"Normal","value":0,"type":"num"},{"label":"Slightly cool","value":-0.5,"type":"num"},{"label":"Slightly warm","value":0.5,"type":"num"},{"label":"Cool","value":-1,"type":"num"},{"label":"Warm","value":1,"type":"num"}],"payload":"","topic":"","x":1020,"y":1140,"wires":[["bf4371ad.eed95","82ed34ae.154bb8"]]},{"id":"bf4371ad.eed95","type":"debug","z":"58f8302c.c3df2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1290,"y":1180,"wires":[]},{"id":"82ed34ae.154bb8","type":"function","z":"58f8302c.c3df2","name":"cek  start","func":"var a = flow.get(\"start\")||0;\nif (a === 0){\n    node.send(msg);\n}\nreturn 0;","outputs":1,"noerr":0,"x":1220,"y":1140,"wires":[["e83f0ff8.3995c"]]},{"id":"e83f0ff8.3995c","type":"function","z":"58f8302c.c3df2","name":"setPMV","func":"var a = flow.set('setPMV',msg.payload);\nmsg.payload = \"setPMV  = \"+msg.payload; \nreturn msg;","outputs":1,"noerr":0,"x":1360,"y":1140,"wires":[["4cd5a406.2c6efc"]]},{"id":"2478e1cf.32812e","type":"ui_dropdown","z":"58f8302c.c3df2","name":"","label":"Kontrol","tooltip":"","place":"","group":"3e5fc966.239e66","order":3,"width":0,"height":0,"passthru":true,"options":[{"label":"Kontrol PMV","value":1,"type":"num"},{"label":"Kontrol DC","value":2,"type":"num"}],"payload":"","topic":"","x":80,"y":420,"wires":[["bf8d0c02.b79ff"]]},{"id":"4723c40f.79dbcc","type":"function","z":"58f8302c.c3df2","name":"Get sistem","func":"msg.payload = flow.get(\"SISTEM\")||1;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":1060,"wires":[["2f332a93.6c9bd6","edaefdd6.09597"]]},{"id":"2f332a93.6c9bd6","type":"switch","z":"58f8302c.c3df2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":1060,"wires":[["f1b4e0ec.c4c8c"],["e41c1668.024ff8"]]},{"id":"96f47ed.4da408","type":"function","z":"58f8302c.c3df2","name":"Cek DC","func":"var dc = flow.get(\"DC\");\nif(dc >= 85){\n    flow.set(\"DC\",100);\n} else if((dc < 85) && (dc>70)) {\n    flow.set(\"DC\",70);\n} \nmsg.payload = dc;\nreturn msg;","outputs":1,"noerr":0,"x":1220,"y":60,"wires":[["fc658da3.69a1d"]]},{"id":"fc658da3.69a1d","type":"switch","z":"58f8302c.c3df2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"85","vt":"num"},{"t":"lt","v":"85","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1360,"y":60,"wires":[["bc686dce.4016e"],["74bcc80f.eadd88","b682f662.7bd628"]]},{"id":"bc686dce.4016e","type":"function","z":"58f8302c.c3df2","name":"high","func":"var a = flow.get(\"start\")||0;\n\nif (a === 2){\n    msg.payload = 1;\n    var dc = flow.get(\"DC\")/100||0.5;\n    msg.delay = 10*1000*60*dc; \n    node.send(msg);\n}\nreturn 0;","outputs":1,"noerr":0,"x":1510,"y":40,"wires":[["6fc07951.7fa9f8","3137be33.e8d742"]]},{"id":"6fc07951.7fa9f8","type":"delay","z":"58f8302c.c3df2","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1670,"y":40,"wires":[["bc686dce.4016e"]]},{"id":"e41c1668.024ff8","type":"link out","z":"58f8302c.c3df2","name":"","links":["47c81d2f.c85c74","ead67c97.702b5","a480cf9d.95d7c"],"x":575,"y":1080,"wires":[]},{"id":"ead67c97.702b5","type":"link in","z":"58f8302c.c3df2","name":"","links":["e41c1668.024ff8","af560ded.2c829","e7c83159.761cd"],"x":1115,"y":60,"wires":[["96f47ed.4da408"]]},{"id":"f1b4e0ec.c4c8c","type":"link out","z":"58f8302c.c3df2","name":"","links":["a480cf9d.95d7c"],"x":575,"y":1040,"wires":[]},{"id":"7cdceabf.899084","type":"switch","z":"58f8302c.c3df2","name":"","property":"payload.RCt","propertyType":"msg","rules":[{"t":"btwn","v":"130","vt":"num","v2":"330","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1870,"y":840,"wires":[["c398e9a3.d65168","3ad4e7e3.649bd8","2d74106f.f204"]]},{"id":"5054a9cc.725228","type":"function","z":"58f8302c.c3df2","name":"variable","func":"var a = flow.get('setPMV')||0;\nvar b = flow.get(\"RC\")||176.86;\nvar T_Luar = flow.get(\"T_Luar\")||30;\nvar maxTL = flow.get(\"maxTL\")||35.15269793;\nvar maxRC = flow.get(\"maxRC\")||269.658557;\nvar maxPMV = flow.get(\"maxPMV\")||0.325994876;\nvar minTL = flow.get(\"minTL\")||27.10902218;\nvar minRC = flow.get(\"minRC\")||103.6293719;\nvar minPMV = flow.get(\"minPMV\")||-1.244707379;\nvar value = {'T_Luar' : T_Luar, 'RC' : b ,'PMV' : a, 'maxTL' : maxTL,'minTL':minTL,'maxRC':maxRC,'minRC':minRC,'maxPMV':maxPMV,'minPMV':minPMV};\nmsg.payload = value;\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":1140,"wires":[["5e6dba8.6b0d244","be7ad53b.9d0a18"]]},{"id":"f06f178e.9e4898","type":"inject","z":"58f8302c.c3df2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":1100,"wires":[["5054a9cc.725228"]]},{"id":"2631dd0c.ee34f2","type":"link in","z":"58f8302c.c3df2","name":"","links":["5097fc22.dd27b4"],"x":35,"y":1180,"wires":[["d4acd73e.921728"]]},{"id":"5e6dba8.6b0d244","type":"debug","z":"58f8302c.c3df2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":1180,"wires":[]},{"id":"be7ad53b.9d0a18","type":"pythonshell in","z":"58f8302c.c3df2","name":"Prediksi DC","pyfile":"C:\\Users\\user\\Documents\\test\\HitungDCFIX.py","virtualenv":"","continuous":false,"stdInData":false,"x":350,"y":1140,"wires":[["d9956ec4.38e6"]]},{"id":"d9956ec4.38e6","type":"json","z":"58f8302c.c3df2","name":"","property":"payload","action":"","pretty":false,"x":490,"y":1140,"wires":[["a86c159f.5ecf28"]]},{"id":"a86c159f.5ecf28","type":"function","z":"58f8302c.c3df2","name":"set DC","func":"\nflow.set('DC',msg.payload.DC); \nreturn msg;","outputs":1,"noerr":0,"x":610,"y":1140,"wires":[["173663d1.7160ec","1d65e4bb.7e647b","af560ded.2c829"]]},{"id":"173663d1.7160ec","type":"debug","z":"58f8302c.c3df2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":1100,"wires":[]},{"id":"1d65e4bb.7e647b","type":"influxdb out","z":"58f8302c.c3df2","influxdb":"e723ebe1.068578","name":"","measurement":"DC","precision":"","retentionPolicy":"","x":790,"y":1140,"wires":[]},{"id":"af560ded.2c829","type":"link out","z":"58f8302c.c3df2","name":"","links":["47c81d2f.c85c74","ead67c97.702b5","c6697737.1b6fb8"],"x":935,"y":1180,"wires":[]},{"id":"6b9e025.35feafc","type":"ui_text","z":"58f8302c.c3df2","group":"4a48042a.a2f84c","order":0,"width":0,"height":0,"name":"","label":"Status Kontrol","format":"{{msg.payload}}","layout":"row-spread","x":2140,"y":1180,"wires":[]},{"id":"b2fb3ad7.382848","type":"function","z":"58f8302c.c3df2","name":"cek  start","func":"var a = flow.get(\"start\")||0;\nif (a === 0){\n    msg.payload = \"TIDAK\";\n    node.send(msg);\n} else {\n    msg.payload = \"YA\";\n    node.send(msg);\n}\nreturn 0;","outputs":1,"noerr":0,"x":1960,"y":1180,"wires":[["6b9e025.35feafc"]]},{"id":"7d7e9dbf.c08894","type":"inject","z":"58f8302c.c3df2","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":1810,"y":1180,"wires":[["b2fb3ad7.382848"]]},{"id":"7928f117.674ec","type":"function","z":"58f8302c.c3df2","name":"Get Temp Dalam","func":"var data = msg.payload.T_Dalam;\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"x":1990,"y":60,"wires":[["23a0bc8d.e5d184"]]},{"id":"23a0bc8d.e5d184","type":"ui_gauge","z":"58f8302c.c3df2","name":"Temperature","group":"95281601.8913c8","order":4,"width":"0","height":"0","gtype":"gage","title":"T_Dalam","label":"Degree","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"30","seg2":"40","x":2190,"y":60,"wires":[]},{"id":"62b00071.0e114","type":"ui_gauge","z":"58f8302c.c3df2","name":"Humidity","group":"95281601.8913c8","order":3,"width":"0","height":"0","gtype":"gage","title":"H_Dalam","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"98","seg2":"99","x":2180,"y":100,"wires":[]},{"id":"3be9e86.5847318","type":"function","z":"58f8302c.c3df2","name":"Get humidity Dalam","func":"var data = msg.payload.H_Dalam;\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"x":1990,"y":100,"wires":[["62b00071.0e114"]]},{"id":"c5590348.ea017","type":"function","z":"58f8302c.c3df2","name":"Get Temp Luar","func":"var data = msg.payload.T_Luar;\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"x":1980,"y":140,"wires":[["b7f552e2.6d638"]]},{"id":"b7f552e2.6d638","type":"ui_gauge","z":"58f8302c.c3df2","name":"Temperature","group":"3847294d.089a36","order":4,"width":"0","height":"0","gtype":"gage","title":"T_Luar","label":"Degree","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"30","seg2":"40","x":2190,"y":140,"wires":[]},{"id":"b7ea778a.d45438","type":"ui_gauge","z":"58f8302c.c3df2","name":"Humidity","group":"3847294d.089a36","order":3,"width":"0","height":"0","gtype":"gage","title":"H_Luar","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"98","seg2":"99","x":2180,"y":180,"wires":[]},{"id":"1ea48a3e.58ba56","type":"function","z":"58f8302c.c3df2","name":"Get humidity Luar","func":"var data = msg.payload.H_Luar;\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"x":1990,"y":180,"wires":[["b7ea778a.d45438"]]},{"id":"77ff0dbd.eb4a44","type":"function","z":"58f8302c.c3df2","name":"Get sta","func":"var data = msg.payload.sta;\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"x":1960,"y":220,"wires":[["c234d557.1c97e8"]]},{"id":"c234d557.1c97e8","type":"ui_text","z":"58f8302c.c3df2","group":"4a48042a.a2f84c","order":0,"width":"3","height":"1","name":"Status AC","label":"Status AC : ","format":"{{msg.payload}}","layout":"row-left","x":2180,"y":220,"wires":[]},{"id":"c07c6f0e.5f025","type":"link in","z":"58f8302c.c3df2","name":"","links":["a2f955c9.398b88"],"x":1855,"y":220,"wires":[["77ff0dbd.eb4a44"]]},{"id":"a670a587.a56298","type":"link in","z":"58f8302c.c3df2","name":"","links":["a65beaa0.2bf538"],"x":1855,"y":160,"wires":[["1ea48a3e.58ba56","c5590348.ea017"]]},{"id":"a65beaa0.2bf538","type":"link out","z":"58f8302c.c3df2","name":"","links":["a670a587.a56298"],"x":775,"y":100,"wires":[]},{"id":"d010d727.57de78","type":"link out","z":"58f8302c.c3df2","name":"","links":["e541ef0c.1987f"],"x":795,"y":60,"wires":[]},{"id":"e541ef0c.1987f","type":"link in","z":"58f8302c.c3df2","name":"","links":["d010d727.57de78"],"x":1855,"y":80,"wires":[["7928f117.674ec","3be9e86.5847318"]]},{"id":"461c351.09830cc","type":"comment","z":"58f8302c.c3df2","name":"User Interface Sensor","info":"","x":1940,"y":20,"wires":[]},{"id":"84ee820f.d4643","type":"comment","z":"58f8302c.c3df2","name":"Perhitungan DC dengan ANN","info":"pengaturan dc","x":320,"y":1100,"wires":[]},{"id":"7bd7333f.ab8d2c","type":"comment","z":"58f8302c.c3df2","name":"Switch Kontrol","info":"Switch yang menentukan kontrol AC apakah kontrol dengan PMV (dari ANN) atau Kontrol DC","x":570,"y":1100,"wires":[]},{"id":"3cc44838.ace6e8","type":"function","z":"58f8302c.c3df2","name":"Get pmv","func":"var data = msg.payload.PMV;\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"x":1960,"y":260,"wires":[["cec6516.cf2d6b"]]},{"id":"4f98ad88.7851e4","type":"link in","z":"58f8302c.c3df2","name":"","links":["3e00b7ad.bbe3f8"],"x":1855,"y":260,"wires":[["3cc44838.ace6e8"]]},{"id":"3e00b7ad.bbe3f8","type":"link out","z":"58f8302c.c3df2","name":"","links":["4f98ad88.7851e4","b5932801.919918"],"x":1015,"y":200,"wires":[]},{"id":"cec6516.cf2d6b","type":"ui_gauge","z":"58f8302c.c3df2","name":"PMV","group":"4a48042a.a2f84c","order":3,"width":"0","height":"0","gtype":"gage","title":"PMV","label":"%","format":"{{value}}","min":"-1.5","max":"1.5","colors":["#ca3838","#00b800","#ca3838"],"seg1":"","seg2":"","x":2170,"y":260,"wires":[]},{"id":"fd12fd23.c7151","type":"function","z":"58f8302c.c3df2","name":"cek  start","func":"var a = flow.get(\"start\")||0;\nif (a === 0){\n    node.send(msg);\n}\nreturn 0;","outputs":1,"noerr":0,"x":300,"y":740,"wires":[["b47e981b.4f2d38"]]},{"id":"e6703980.b9c438","type":"pythonshell in","z":"58f8302c.c3df2","name":"Prediksi DC","pyfile":"C:\\Users\\user\\Documents\\test\\HitungDCFIX.py","virtualenv":"","continuous":false,"stdInData":false,"x":1670,"y":1140,"wires":[["3e4e752a.992d5a"]]},{"id":"4cd5a406.2c6efc","type":"function","z":"58f8302c.c3df2","name":"variable","func":"var a = flow.get('setPMV')||0;\nvar b = 176.86;\nvar T_Luar = flow.get(\"T_Luar\")||30;\nvar maxTL = flow.get(\"maxTL\")||35.15269793;\nvar maxRC = flow.get(\"maxRC\")||269.658557;\nvar maxPMV = flow.get(\"maxPMV\")||0.325994876;\nvar minTL = flow.get(\"minTL\")||27.10902218;\nvar minRC = flow.get(\"minRC\")||103.6293719;\nvar minPMV = flow.get(\"minPMV\")||-1.244707379;\nvar value = {'T_Luar' : T_Luar, 'RC' : b ,'PMV' : a, 'maxTL' : maxTL,'minTL':minTL,'maxRC':maxRC,'minRC':minRC,'maxPMV':maxPMV,'minPMV':minPMV};\nmsg.payload = value;\nreturn msg;","outputs":1,"noerr":0,"x":1500,"y":1140,"wires":[["e6703980.b9c438","b38db189.31a41"]]},{"id":"3e4e752a.992d5a","type":"json","z":"58f8302c.c3df2","name":"","property":"payload","action":"","pretty":false,"x":1830,"y":1140,"wires":[["c1a9812a.f7a4b"]]},{"id":"c1a9812a.f7a4b","type":"function","z":"58f8302c.c3df2","name":"DC","func":"a = msg.payload.DC;\nvar TC = flow.get(\"TimeCont\")||1;\nmsg.payload = a;\nvar msg2 = {};\nvar b = (100-a)*TC*6/(TC*6+2);\nmsg2.payload = b.toFixed(2);\nreturn [msg,msg2];","outputs":2,"noerr":0,"x":1950,"y":1140,"wires":[["7cde6973.127b68","6ff9c719.682d88","44f5fa89.a07914"],["e9b1cb4c.187a08"]]},{"id":"7cde6973.127b68","type":"debug","z":"58f8302c.c3df2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2290,"y":1140,"wires":[]},{"id":"6ff9c719.682d88","type":"ui_text","z":"58f8302c.c3df2","group":"63fbeb7d.902874","order":1,"width":"6","height":"1","name":"Prediksi DC","label":"Prediksi DC","format":"{{msg.payload}} ","layout":"row-spread","x":2130,"y":1140,"wires":[]},{"id":"44f5fa89.a07914","type":"ui_text","z":"58f8302c.c3df2","group":"63fbeb7d.902874","order":3,"width":0,"height":0,"name":"","label":"*Nilai Prediksi DC berdasarkan asumsi terdapat 1 orang didalam ruangan","format":"","layout":"row-spread","x":2220,"y":1060,"wires":[]},{"id":"b38db189.31a41","type":"debug","z":"58f8302c.c3df2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1590,"y":1180,"wires":[]},{"id":"e9b1cb4c.187a08","type":"ui_text","z":"58f8302c.c3df2","group":"63fbeb7d.902874","order":1,"width":"6","height":"1","name":"Energy saving","label":"Energy Saving","format":"{{msg.payload}} %","layout":"row-spread","x":2140,"y":1100,"wires":[]},{"id":"f95f8f79.651bd","type":"ui_switch","z":"58f8302c.c3df2","name":"","label":"Pengulangan kontrol","tooltip":"","group":"3e5fc966.239e66","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":2060,"y":1020,"wires":[["b89f5b82.6d6dd8"]]},{"id":"21d27efa.875d52","type":"debug","z":"58f8302c.c3df2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2410,"y":1020,"wires":[]},{"id":"221b31cc.3e79de","type":"switch","z":"58f8302c.c3df2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1650,"y":540,"wires":[["b0e39f05.44ace"]]},{"id":"b89f5b82.6d6dd8","type":"function","z":"58f8302c.c3df2","name":"Always ON","func":"flow.set('Repeat',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":2250,"y":1020,"wires":[["21d27efa.875d52"]]},{"id":"f3f9205a.30501","type":"function","z":"58f8302c.c3df2","name":"cek repeat","func":"var a = flow.get('Repeat')||0;\nif (a === 1){\n    msg.payload = a;\n    node.send(msg);\n}\nreturn 0;","outputs":1,"noerr":0,"x":1510,"y":540,"wires":[["221b31cc.3e79de"]]},{"id":"bd0eb387.9939e","type":"function","z":"58f8302c.c3df2","name":"always on ??","func":"a = flow.get('Repeat');\nmsg.payload = {\"Aon\": a};\nreturn msg;","outputs":1,"noerr":0,"x":2230,"y":720,"wires":[["7de82b47.3ac134"]]},{"id":"7de82b47.3ac134","type":"debug","z":"58f8302c.c3df2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2390,"y":720,"wires":[]},{"id":"e250e645.89ece8","type":"inject","z":"58f8302c.c3df2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2080,"y":720,"wires":[["bd0eb387.9939e"]]},{"id":"66a45745.b02178","type":"comment","z":"58f8302c.c3df2","name":"Training ANN","info":"","x":770,"y":920,"wires":[]},{"id":"12719b43.a94d45","type":"influxdb in","z":"58f8302c.c3df2","influxdb":"e723ebe1.068578","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":1660,"y":1040,"wires":[["953d66c0.df1398"]]},{"id":"e776afbb.d46f","type":"function","z":"58f8302c.c3df2","name":"Get Data","func":"msg.query = 'SELECT MAX(*) FROM DataLearningFix';\nreturn msg;","outputs":1,"noerr":0,"x":1480,"y":1040,"wires":[["12719b43.a94d45"]]},{"id":"953d66c0.df1398","type":"function","z":"58f8302c.c3df2","name":"set max","func":"a = msg.payload;\nvar b = a[0].max_PMV;\nvar c = a[0].max_RC;\nvar d = a[0].max_TL;\nflow.set('maxPMV',b);\nflow.set('maxRC',c);\nflow.set('maxTL',d);\nmsg.payload = {\"maxTL\": d,\"maxRC\": c,\"maxPMV\": b};\nreturn msg;","outputs":1,"noerr":0,"x":1840,"y":1040,"wires":[[]]},{"id":"45cf249d.3e618c","type":"function","z":"58f8302c.c3df2","name":"Get Data","func":"msg.query = 'SELECT MIN(*) FROM DataLearningFix';\nreturn msg;","outputs":1,"noerr":0,"x":1480,"y":1080,"wires":[["9e625164.0223c"]]},{"id":"9e625164.0223c","type":"influxdb in","z":"58f8302c.c3df2","influxdb":"e723ebe1.068578","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":1660,"y":1080,"wires":[["a4ddcaff.3cc818"]]},{"id":"a4ddcaff.3cc818","type":"function","z":"58f8302c.c3df2","name":"set min","func":"a = msg.payload;\nvar b = a[0].min_PMV;\nvar c = a[0].min_RC;\nvar d = a[0].min_TL;\nflow.set('minPMV',b);\nflow.set('minRC',c);\nflow.set('minTL',d);\nmsg.payload = {\"minTL\": d,\"minRC\": c,\"minPMV\": b};\nreturn msg;","outputs":1,"noerr":0,"x":1840,"y":1080,"wires":[[]]},{"id":"b5932801.919918","type":"link in","z":"58f8302c.c3df2","d":true,"name":"","links":["3e00b7ad.bbe3f8"],"x":1955,"y":440,"wires":[["a3860363.640ae"]]},{"id":"49f0242a.5f504c","type":"comment","z":"58f8302c.c3df2","name":"User Interface Kontrol PMV","info":"","x":1090,"y":1180,"wires":[]},{"id":"1447307b.ce26b","type":"comment","z":"58f8302c.c3df2","name":"Cek Nilai","info":"","x":2060,"y":680,"wires":[]},{"id":"d17c564f.799c78","type":"debug","z":"58f8302c.c3df2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1360,"y":900,"wires":[]},{"id":"b69f7e6a.02a24","type":"inject","z":"58f8302c.c3df2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":920,"y":740,"wires":[["71858990.1abec8"]]},{"id":"daa913fa.2a304","type":"delay","z":"58f8302c.c3df2","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":840,"y":440,"wires":[["332ceef2.bac8d2","887826bd.2bd4d8"]]},{"id":"b47e981b.4f2d38","type":"delay","z":"58f8302c.c3df2","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":320,"y":800,"wires":[["9db45b5b.b764a8"]]},{"id":"3e9d5597.af8e6a","type":"ui_button","z":"58f8302c.c3df2","name":"","group":"3e5fc966.239e66","order":1,"width":"0","height":"0","passthru":false,"label":"Stop Kontrol","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":1930,"y":340,"wires":[["69869fd1.c78fe"]]},{"id":"bf8301a2.1b33c","type":"inject","z":"58f8302c.c3df2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1940,"y":300,"wires":[["69869fd1.c78fe"]]},{"id":"69869fd1.c78fe","type":"function","z":"58f8302c.c3df2","name":"Set TRCoff b","func":"var a  = {\"start\":0};\nmsg.payload = a;\nflow.set(\"start\",0);\nvar msg3 = {};\nmsg3.payload = 0;\nmsg.delay = 0; \nmsg3.delay = 0; \nflow.set(\"Interrupt\",1);\nreturn [msg,msg3];","outputs":2,"noerr":0,"x":2110,"y":320,"wires":[["5270bbd8.9c10f4","25f3382d.fa15f8","b3b90005.0e0c3"],["7d56e520.a2ed0c"]]},{"id":"7d56e520.a2ed0c","type":"link out","z":"58f8302c.c3df2","name":"","links":["6d76d2de.158dbc","a0fac9a9.e37278","472eb3f3.a627ac","acfcc5ac.d2abd8","f8720be0.41adf8"],"x":2215,"y":340,"wires":[]},{"id":"5270bbd8.9c10f4","type":"influxdb out","z":"58f8302c.c3df2","influxdb":"e723ebe1.068578","name":"","measurement":"start","precision":"","retentionPolicy":"","x":2310,"y":300,"wires":[]},{"id":"d4acd73e.921728","type":"function","z":"58f8302c.c3df2","name":"Get sistem","func":"a = flow.get(\"SISTEM\")\nif (a === 1){\n    msg.payload = a;\n    node.send(msg);\n}\nreturn 0;","outputs":1,"noerr":0,"x":150,"y":1180,"wires":[["5054a9cc.725228"]]},{"id":"3852387b.937e98","type":"ui_text","z":"58f8302c.c3df2","group":"11f02c4e.05b824","order":2,"width":0,"height":0,"name":"","label":"DC saat ini","format":"{{msg.payload}}","layout":"row-spread","x":670,"y":540,"wires":[]},{"id":"4036fa96.fd9b94","type":"function","z":"58f8302c.c3df2","name":"DC","func":"a = flow.get(\"DC\")||0.5;\nmsg.payload = a;\nvar TC = flow.get(\"TimeCont\")||1;\nvar msg2 = {};\nvar b = (100-a)*TC*6/(TC*6+2);\nmsg2.payload = b.toFixed(2);\nreturn [msg,msg2];","outputs":2,"noerr":0,"x":530,"y":580,"wires":[["3852387b.937e98"],["ea05cb24.a665b8"]]},{"id":"c6697737.1b6fb8","type":"link in","z":"58f8302c.c3df2","name":"","links":["af560ded.2c829"],"x":435,"y":580,"wires":[["4036fa96.fd9b94"]]},{"id":"25f3382d.fa15f8","type":"debug","z":"58f8302c.c3df2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2350,"y":340,"wires":[]},{"id":"2f2fe570.9cc49a","type":"inject","z":"58f8302c.c3df2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2080,"y":800,"wires":[["483385da.cab84c"]]},{"id":"483385da.cab84c","type":"function","z":"58f8302c.c3df2","name":"RC","func":"a = flow.get(\"RC\");\nmsg.payload = {\"RC\": a};\nreturn msg;","outputs":1,"noerr":0,"x":2210,"y":800,"wires":[["455be645.4a0ee8"]]},{"id":"455be645.4a0ee8","type":"debug","z":"58f8302c.c3df2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2350,"y":800,"wires":[]},{"id":"61d92931.0a0a58","type":"ui_button","z":"58f8302c.c3df2","name":"LOW","group":"3e5fc966.239e66","order":0,"width":"2","height":"1","passthru":false,"label":"LOW","tooltip":"","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"num","topic":"","x":670,"y":480,"wires":[["daa913fa.2a304"]]},{"id":"5b16a73c.5253d8","type":"ui_button","z":"58f8302c.c3df2","name":"HIGH","group":"3e5fc966.239e66","order":2,"width":"2","height":"1","passthru":false,"label":"HIGH","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":670,"y":440,"wires":[["daa913fa.2a304"]]},{"id":"ec1c9dad.ba01","type":"ui_button","z":"58f8302c.c3df2","name":"OFF","group":"3e5fc966.239e66","order":1,"width":"2","height":"1","passthru":false,"label":"OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":670,"y":400,"wires":[["daa913fa.2a304"]]},{"id":"5b75bf52.631a4","type":"function","z":"58f8302c.c3df2","name":"Get start","func":"var a = flow.get(\"start\")||0;\n\nif (a === 2){\n    node.send(msg);\n}\nreturn 0;","outputs":1,"noerr":0,"x":1340,"y":340,"wires":[["add21321.c81b"]]},{"id":"df7925dc.d967d8","type":"link out","z":"58f8302c.c3df2","name":"","links":["ebb691ce.a148d","fea3cafd.655da8"],"x":1975,"y":940,"wires":[]},{"id":"ebb691ce.a148d","type":"link in","z":"58f8302c.c3df2","name":"","links":["df7925dc.d967d8"],"x":695,"y":960,"wires":[["a9315dba.9ede7"]]},{"id":"3dbf75fa.330b2a","type":"delay","z":"58f8302c.c3df2","name":"","pauseType":"delayv","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1300,"y":460,"wires":[["7e3634ef.04b26c"]]},{"id":"a9315dba.9ede7","type":"delay","z":"58f8302c.c3df2","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":800,"y":960,"wires":[["1129a543.a30c1b"]]},{"id":"1d6f13dc.ac4b1c","type":"inject","z":"58f8302c.c3df2","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"00 18 * * *","once":false,"onceDelay":0.1,"x":2230,"y":940,"wires":[["b89f5b82.6d6dd8","f95f8f79.651bd"]]},{"id":"8f43a5a1.007d98","type":"inject","z":"58f8302c.c3df2","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"00 08 * * *","once":false,"onceDelay":0.1,"x":2230,"y":900,"wires":[["b89f5b82.6d6dd8","fccbc686.c0db58","f95f8f79.651bd"]]},{"id":"fccbc686.c0db58","type":"link out","z":"58f8302c.c3df2","name":"","links":["80ac58d9.e25fd8"],"x":2335,"y":900,"wires":[]},{"id":"472eb3f3.a627ac","type":"link in","z":"58f8302c.c3df2","name":"","links":["7d56e520.a2ed0c","884ee83e.78ea48"],"x":1215,"y":340,"wires":[["dec89aee.5b11b8","3dbf75fa.330b2a"]]},{"id":"acfcc5ac.d2abd8","type":"link in","z":"58f8302c.c3df2","name":"","links":["7d56e520.a2ed0c","884ee83e.78ea48"],"x":1195,"y":200,"wires":[["bb1d3e49.9604c","c249b316.a1c2c"]]},{"id":"a2f955c9.398b88","type":"link out","z":"58f8302c.c3df2","name":"","links":["8a43f809.7fc088","8f012d00.ebb2e","8fe1f3d8.f1981","5e012a35.e84fe4","c07c6f0e.5f025"],"x":915,"y":220,"wires":[]},{"id":"7f4a405c.7319","type":"function","z":"58f8302c.c3df2","name":"Get TC","func":"var TC = flow.get(\"TimeCont\")||1;\nmsg.delay = 1000*60*60*TC-1000*30; \nreturn msg;","outputs":1,"noerr":0,"x":1180,"y":300,"wires":[["dec89aee.5b11b8"]]},{"id":"a7ecd8c2.b70268","type":"ui_dropdown","z":"58f8302c.c3df2","name":"","label":"Waktu Kontrol","tooltip":"","place":"","group":"3e5fc966.239e66","order":3,"width":0,"height":0,"passthru":true,"options":[{"label":"1 Jam","value":1,"type":"num"},{"label":"1.5 Jam","value":1.5,"type":"num"},{"label":"2 Jam","value":2,"type":"num"},{"label":"2.5 Jam","value":2.5,"type":"num"}],"payload":"","topic":"","x":260,"y":460,"wires":[["55e094a7.d5233c"]]},{"id":"bf8d0c02.b79ff","type":"function","z":"58f8302c.c3df2","name":"cek  start","func":"var a = flow.get(\"start\")||0;\nif (a === 0){\n    node.send(msg);\n}\nreturn 0;","outputs":1,"noerr":0,"x":220,"y":420,"wires":[["d0b18e15.cf33b"]]},{"id":"55e094a7.d5233c","type":"function","z":"58f8302c.c3df2","name":"cek  start","func":"var a = flow.get(\"start\")||0;\nif (a === 0){\n    node.send(msg);\n}\nreturn 0;","outputs":1,"noerr":0,"x":420,"y":460,"wires":[["1154eb7d.ac3c75"]]},{"id":"1154eb7d.ac3c75","type":"function","z":"58f8302c.c3df2","name":"Menentukan Waktu Kontrol","func":"var TC = flow.set(\"TimeCont\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":500,"wires":[["d7279793.1b2098"]]},{"id":"b3b90005.0e0c3","type":"debug","z":"58f8302c.c3df2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.delay","targetType":"msg","x":2370,"y":380,"wires":[]},{"id":"b682f662.7bd628","type":"debug","z":"58f8302c.c3df2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1510,"y":80,"wires":[]},{"id":"edaefdd6.09597","type":"debug","z":"58f8302c.c3df2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":1020,"wires":[]},{"id":"5038a91d.a011f8","type":"function","z":"58f8302c.c3df2","name":"cek  start","func":"var a = flow.get(\"start\")||0;\nif (a === 1){\n    node.send(msg);\n}\nreturn 0;","outputs":1,"noerr":0,"x":260,"y":940,"wires":[["605829a3.ed0208"]]},{"id":"f8720be0.41adf8","type":"link in","z":"58f8302c.c3df2","name":"","links":["7d56e520.a2ed0c","884ee83e.78ea48"],"x":35,"y":980,"wires":[["3ab74659.c7b74a"]]},{"id":"ea05cb24.a665b8","type":"ui_text","z":"58f8302c.c3df2","group":"11f02c4e.05b824","order":1,"width":"6","height":"1","name":"Energy saving","label":"Energy Saving ","format":"{{msg.payload}} %","layout":"row-spread","x":680,"y":580,"wires":[]},{"id":"7a8f89f.2f04478","type":"inject","z":"58f8302c.c3df2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2240,"y":640,"wires":[["fda1dac8.728918"]]},{"id":"fda1dac8.728918","type":"function","z":"58f8302c.c3df2","name":"TC","func":"var TC = flow.get(\"TimeCont\")||1;\nmsg.payload = {\"TC\": TC};\nreturn msg;","outputs":1,"noerr":0,"x":2210,"y":680,"wires":[["bd5ffc8e.efe7c"]]},{"id":"bd5ffc8e.efe7c","type":"debug","z":"58f8302c.c3df2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2350,"y":680,"wires":[]},{"id":"cd8106c5.04ee98","type":"delay","z":"58f8302c.c3df2","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"6","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":540,"y":180,"wires":[["ed99a38c.128b2"]]},{"id":"908a77fc.91bb58","type":"function","z":"58f8302c.c3df2","name":"setPMV","func":"var a = flow.get('setPMV');\nmsg.payload = {\"setPMV\": a};\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":1180,"wires":[["757fba4.a54d544"]]},{"id":"460bb5a4.747ecc","type":"inject","z":"58f8302c.c3df2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":520,"y":1180,"wires":[["908a77fc.91bb58"]]},{"id":"757fba4.a54d544","type":"debug","z":"58f8302c.c3df2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":1180,"wires":[]},{"id":"d9022035.e51dc","type":"delay","z":"58f8302c.c3df2","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1300,"y":1040,"wires":[["3c6d817e.7fcd8e"]]},{"id":"5bb1fd8d.d16e44","type":"switch","z":"58f8302c.c3df2","name":"","property":"payload.ACC","propertyType":"msg","rules":[{"t":"gte","v":"80","vt":"num"},{"t":"lt","v":"80","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1330,"y":1080,"wires":[["e776afbb.d46f","45cf249d.3e618c"],["d9022035.e51dc"]]},{"id":"3c6d817e.7fcd8e","type":"function","z":"58f8302c.c3df2","name":"add c","func":"var a = flow.get('count');\nmsg.payload = a+1;\nflow.set('count',a+1);\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":1040,"wires":[["fa76729e.cc11f"]]},{"id":"189636ff.7c5d99","type":"json","z":"58f8302c.c3df2","name":"","property":"payload","action":"","pretty":false,"x":1170,"y":1040,"wires":[["5bb1fd8d.d16e44","c2742807.bf15a8"]]},{"id":"9e103976.3928d8","type":"switch","z":"58f8302c.c3df2","name":"","property":"payload.ACC","propertyType":"msg","rules":[{"t":"gte","v":"30","vt":"num"},{"t":"lt","v":"30","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1170,"y":1080,"wires":[["5bb1fd8d.d16e44"],["6168de2.9826d2"]]},{"id":"fa76729e.cc11f","type":"switch","z":"58f8302c.c3df2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"10","vt":"num"},{"t":"lt","v":"10","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":830,"y":1040,"wires":[["d09d2970.6705e8"],["c4e78c2b.649f4"]]},{"id":"c4e78c2b.649f4","type":"pythonshell in","z":"58f8302c.c3df2","name":"Memperbaiki ANN","pyfile":"C:\\Users\\user\\Documents\\test\\TrainingANN_V2.py","virtualenv":"","continuous":false,"stdInData":false,"x":1010,"y":1040,"wires":[["189636ff.7c5d99"]]},{"id":"6168de2.9826d2","type":"delay","z":"58f8302c.c3df2","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1160,"y":1000,"wires":[["1129a543.a30c1b"]]},{"id":"8680279.797b1d8","type":"json","z":"58f8302c.c3df2","name":"","property":"payload","action":"","pretty":false,"x":1030,"y":1080,"wires":[["9e103976.3928d8","c2742807.bf15a8"]]},{"id":"d09d2970.6705e8","type":"function","z":"58f8302c.c3df2","name":"ulang c","func":"msg.payload = \"pengulangan lebih dari 10, pengulangan training\";\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":1000,"wires":[["1129a543.a30c1b","c2742807.bf15a8"]]},{"id":"1129a543.a30c1b","type":"pythonshell in","z":"58f8302c.c3df2","name":"Training ANN","pyfile":"C:\\Users\\user\\Documents\\test\\TrainingANN.py","virtualenv":"","continuous":false,"stdInData":false,"x":810,"y":1000,"wires":[["51610905.287aa8"]]},{"id":"c2742807.bf15a8","type":"debug","z":"58f8302c.c3df2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1130,"y":960,"wires":[]},{"id":"51610905.287aa8","type":"function","z":"58f8302c.c3df2","name":"set c","func":"var a = flow.set('count',1);\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":1080,"wires":[["8680279.797b1d8"]]},{"id":"47e5c41.8102b3c","type":"inject","z":"58f8302c.c3df2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":960,"y":960,"wires":[["1129a543.a30c1b"]]},{"id":"1fd80769.1bda79","type":"inject","z":"58f8302c.c3df2","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":520,"wires":[["1154eb7d.ac3c75"]]},{"id":"4bb2c962.ff0b58","type":"mqtt-broker","z":"","name":"","broker":"192.168.0.100","port":"1883","tls":"","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e723ebe1.068578","type":"influxdb","z":"","hostname":"localhost","port":"8086","protocol":"http","database":"Final","name":"","usetls":false,"tls":""},{"id":"3e5fc966.239e66","type":"ui_group","z":"","name":"AC","tab":"a4a43145.c3e04","disp":true,"width":"6","collapse":false},{"id":"11f02c4e.05b824","type":"ui_group","z":"","name":"Kontrol DC","tab":"a4a43145.c3e04","disp":true,"width":"6","collapse":true},{"id":"63fbeb7d.902874","type":"ui_group","z":"","name":"Kontrol PMV","tab":"a4a43145.c3e04","disp":true,"width":"6","collapse":true},{"id":"4a48042a.a2f84c","type":"ui_group","z":"","name":"Status Ruangan","tab":"a4a43145.c3e04","disp":true,"width":"6","collapse":false},{"id":"95281601.8913c8","type":"ui_group","z":"","name":"Sensor Dalam","tab":"a4a43145.c3e04","order":2,"disp":true,"width":"6","collapse":true},{"id":"3847294d.089a36","type":"ui_group","z":"","name":"Sensor Luar","tab":"a4a43145.c3e04","disp":true,"width":"6","collapse":true},{"id":"a4a43145.c3e04","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]